footer{
  margin: 0 auto;
  width: 100%;
  background: #242424;
  color: #fff;

  a,a:visited{
    color: #fff;
  }

  .grid{
    margin: 0 auto;
    display:flex;
    flex-direction: row;

    @media(min-width:$s-breakpoint){
      width: $s-resolution;
    }

    @media(min-width:$m-breakpoint){
      width: $m-resolution;
    }

    @media(min-width:$xl-breakpoint){
      width: $xl-resolution;
    }

    .row{
      flex: 1 1 50%;
      padding: 20px;
    }

  }

}
