.quote-teaser{
  background: #eee;
  padding: 50px;
  color: #000;

  .grid{
    margin: 0 auto;
    display:flex;
    flex-direction: row;

    @media(min-width:$s-breakpoint){
      width: $s-resolution;
    }

    @media(min-width:$m-breakpoint){
      width: $m-resolution;
    }

    @media(min-width:$xl-breakpoint){
      width: $xl-resolution;
    }


    .row{
      flex-grow: 1;
    }

  }


}
