<div class="box">

    <div class="column">
      <img class="bg" src="/fileadmin{files.0.originalFile.identifier}" >      
    </div>

    <f:if condition="{data.header}">
      <f:then>
        <div class="column">
          <f:format.raw>
            <h2>{data.header}</h2>
          </f:format.raw>
        </div>    
      </f:then>
    </f:if>

    <f:if condition="{data.bodytext}">
      <f:then>
        <div class="column eq-height">
          <f:format.raw>
            <p>{data.bodytext}</p>
          </f:format.raw>
        </div>    
      </f:then>
    </f:if>

    <f:if condition="{data.cta_text} && {data.header_link}">
      <f:then>
        <div class="column">
          <f:link.typolink
          parameter="{data.header_link}"
          class="button">
          Mehr erfahren</f:link.typolink>
        </div>    
      </f:then>
    </f:if>

</div>
