{namespace sdg=SmartDigitalGains\Progesu\ViewHelpers}

        <f:format.raw><sdg:Content uid="{child.uid}" /></f:format.raw>

<div class="storage-list">
    <div class="storage-entry">
        <div class="row">
            <h2>Dies ist eine Kurs Überschrift</h2>
            <br>
            <small>lorem ipsum dolor sit atmet</small>
        </div>
        <div class="row">
            <a href="/kurse/kurs" class="button">Zum Kurs</a>
        </div>
    </div>
    <div class="storage-entry">
        <div class="row">
            <h2>Dies ist eine Kurs Überschrift</h2>
            <br>
            <small>lorem ipsum dolor sit atmet</small>
        </div>
        <div class="row">
            <a href="/kurse/kurs" class="button">Zum Kurs</a>
        </div>
    </div>
    <div class="storage-entry">
        <div class="row">
            <h2>Dies ist eine Kurs Überschrift</h2>
            <br>
            <small>lorem ipsum dolor sit atmet</small>
        </div>
        <div class="row">
            <a href="/kurse/kurs" class="button">Zum Kurs</a>
        </div>
    </div>
    <div class="storage-entry">
        <div class="row">
            <h2>Dies ist eine Kurs Überschrift</h2>
            <br>
            <small>lorem ipsum dolor sit atmet</small>
        </div>
        <div class="row">
            <a href="/kurse/kurs" class="button">Zum Kurs</a>
        </div>
    </div>
</div>