<f:layout name="Default" />
<f:section name="Main">

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />

    <div class="content">
        <div class="grid">
            <div class="row">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
            </div>
            <div class="row sidebar">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '3'}" />
            </div>
        </div>
    </div>

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '4'}" />

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '5'}" />


</f:section>
