<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<f:if condition="{menu}">


        <div class="storage-list">

			<f:for each="{menu}" as="page">

                <div class="storage-entry">
                    <div class="row">
                        <h2>{page.title}</h2>
                    </div>
                    <div class="row">
                        <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}" class="button">Zum Kurs</a>
                    </div>
                </div>
    
			</f:for>

        </div>

	</f:if>

</f:section>
</html>
